<header >
    <nav class="site-header fixed-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">


          <a class="py-2 d-none d-md-inline-block" routerLink="">Acceuil</a>
          <a class="py-2 d-none d-md-inline-block" routerLink ="#engagements">Nos engagements</a>
          <a class="py-2 d-none d-md-inline-block" routerLink="#fonctionnalite">Fonctionnalités</a>
          <a class="py-2 d-none d-md-inline-block" routerLink="#contacts">Contacts</a>
          <a class="py-2 d-none d-md-inline-block" routerLink="#"role="button" (click)="openBackDropCustomClass(content)">Connexion</a>
          <a class="py-2 d-none d-md-inline-block" routerLink="#"role="button" (click)="openWindowCustomClass(content2)">Inscription</a>
        </div>
    </nav>
</header>
<app-acceuil></app-acceuil>
<app-engagements></app-engagements>
<app-fonctionalites></app-fonctionalites>
<app-contacts></app-contacts>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Connexion</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-signin">
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      <label for="inputPassword" class="sr-only">Mot de passe</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Enregistrer
        </label>
      </div>
      <button class=" btn btn-secondary btn-lg btn-block " type="submit" style="background-color:#1565C0">Connecter</button>
    </form>
    <p>--------------------------Ou connecter avec-------------------------</p>
    <div class="form-inline">
        <a href="" class="btn btn-primary col-5  disabled " role="button" aria-disabled="true" style="padding-bottom:5px"><i class="fab fa-facebook-f"></i>  Facebook</a>
        <div class="col-2"></div>
        <a href="" class="btn btn-secondary  col-5 disabled" role="button" aria-disabled="true" style="background-color:#17a2b8 ; padding-bottom:5px"><i class="fab fa-twitter"></i>  Twitter</a>
    </div>
    <br>
    <div class="row">
      <div class="col-4"></div>
      <a href="" class="btn btn-secondary  col-5 serve disabled" role="button" aria-disabled="true" style="background-color:#E74C3C"><i class="fab fa-google"></i>  Google </a>
    </div>
    

</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Annuler </button>
  </div>
</ng-template>



<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Inscription</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-signin">
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      <label for="inputPassword" class="sr-only">Mot de passe</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      <label for="inputPassword" class="sr-only">Confirmer mot de passe </label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Confirmer mot de passe " required>
      <div class="checkbox mb-3">
      </div>
      <button class=" btn btn-secondary btn-lg btn-block " type="submit" style="background-color:#1565C0">S'inscrir</button>
    </form>
    <p>--------------------------Ou s'inscrir avec-------------------------</p>
    <div class="form-inline">
        <a href="" class="btn btn-primary col-5  disabled " role="button" aria-disabled="true" style="padding-bottom:5px"><i class="fab fa-facebook-f"></i>  Facebook</a>
        <div class="col-2"></div>
        <a href="" class="btn btn-secondary  col-5 disabled" role="button" aria-disabled="true" style="background-color:#17a2b8 ; padding-bottom:5px"><i class="fab fa-twitter"></i>  Twitter</a>
    </div>
    <br>
    <div class="row">
      <div class="col-4"></div>
      <a href="" class="btn btn-secondary  col-5 disabled" role="button" aria-disabled="true" style="background-color:#E74C3C"><i class="fab fa-google"></i>  Google </a>
    </div>
    

</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Annuler </button>
  </div>
</ng-template>