<div class="container-fluid">
  <div class="content row">
    <nav class="navbar container-fluid">
      <h1> Depense simple </h1>
      <div class="dropdown">
        <button class="dropdown-toggle nav-item" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          {{typeaffich}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="ontrie('montantdepense')">par montant</a>
          <a class="dropdown-item" (click)="ontrie('titredepense')" >par titre</a>
          <a class="dropdown-item" (click)="ontrie('datedepense')">par date</a>
        </div>
      </div>
      <form class="form-inline nav-item">
        <input class="form-control mr-sm-2" type="text" (keyup)="onSearch($event)" name="searchText"
               data-toggle="dropdown" placeholder="Search ..." aria-label="Search">
      </form>
      <button class="btn btn-danger btn-sm" (click)="onDeleteAll()">suprimmertout</button>

    </nav>
    <div class="card">
      <div class="container-fluid">
        <div class="table-responsive">
          <table class="table table-sm table-hover table table-striped ">
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Date</th>
              <th scope="col">Montant</th>
              <th scope="col">Catégorie</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let Depenses of depenseslist">
              <td>{{Depenses.titredepense}}</td>
              <td>{{Depenses.datedepense}}</td>
              <td>{{Depenses.montantdepense}}</td>
              <td>{{Depenses.categoriedepense}}</td>
              <td>
                <a (click)="openWindowCustomClass(contentEdit,Depenses)"><i class="far fa-edit"></i></a>
                <a (click)="onDelete(Depenses.$key)">
                  <i class="fas fa-trash-alt"></i>
                </a>
                <a (click)="openWindowCustomClass(contentDetail,Depenses)"><i class="fas fa-eye"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #contentEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifier</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #depensesForm="ngForm" (ngSubmit)="onUpdate(depensesForm)">
      <input type="text" name="$iddepense" #iddepense="ngModel" [(ngModel)]="depenseservice.selectedDepense.$key">

      <div class="container-fluid">
        <div class=" content row">
            <div class="container-fluid">
              <div class="form-group">
                <label class="col-form-label">Titre:</label>
                <input type="hidden" class="form-control" name="titredepense" #titredepense="ngModel"
                       [(ngModel)]="depenseservice.selectedDepense.titredepense" required minlength="4">
                <div *ngIf="titredepense.errors && (titredepense.dirty|| titredepense.touched)"
                     class="alert alert-danger">
                  <div [hidden]="!titredepense.errors.required">
                    <strong>Error:</strong>Ce champs est obligatoire
                  </div>
                  <div [hidden]="!titredepense.errors.minlength">
                    <strong>Error:</strong>Ce champs est trés cours
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Montant :</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="0000.0000" name="montantdepense"
                         #montantdepense="ngModel" [(ngModel)]="depenseservice.selectedDepense.montantdepense"
                         pattern="\d*" required>
                  <div class="input-group-prepend">
                    <div class="input-group-text">TND</div>
                  </div>
                  <div *ngIf="montantdepense.errors && (montantdepense.dirty|| montantdepense.touched)"
                       class="alert alert-danger">
                    <div [hidden]="!montantdepense.errors.required">
                      <strong>Error:</strong>Ce champs est obligatoire
                    </div>
                    <div [hidden]="!montantdepense.errors.pattern">
                      <strong>Error:</strong>le montant doit étre nombre
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Date :</label>
                <input type="date" class="form-control" name="datedepense" #datedepense="ngModel"
                       [(ngModel)]="depenseservice.selectedDepense.datedepense "
                       pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                       required/>
                <div *ngIf="datedepense.errors && (datedepense.dirty|| datedepense.touched)" class="alert alert-danger">
                  <div [hidden]="!datedepense.errors.required">
                    <strong>Error:</strong>Ce champs est obligatoire
                  </div>
                  <div [hidden]="!datedepense.errors.pattern">
                    <strong>Error:</strong>Veuillez inserrez une date correcte
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">Categorie :</label>
                <select class="custom-select form-group mr-sm-2" name=categoriedepense #categoriedepense="ngModel"
                        [(ngModel)]="depenseservice.selectedDepense.categoriedepense" required>
                  <option *ngFor="let categorie of categories" [value]="categorie">{{categorie}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">Description: </label>
                <input class="form-control" name="descriptiondepense" #descriptiondepense="ngModel"
                       [(ngModel)]="depenseservice.selectedDepense.descriptiondepense"/>
              </div>
              <div class="form-group">
                <!--<label class="col-form-label">Justificatif: </label>-->
                <!--<input type="file" class="form-control" name="justificatifdepense" #justificatifdepense="ngModel" [(ngModel)]="currentdepenses.coverUrl" />-->
              </div>
              <div class="row">
                <div class="col-3 content-center">
                  <button type="submit" class="btn btn-primary bouton" [disabled]="!depensesForm.valid">modifier
                  </button>
                </div>
                <div class="col-2 content-center">
                  <button type="reset" class="btn btn-secondary  bouton">annuler
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #contentDetail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="content-center detail">
      <li><label class="col-form-label">titre: {{depenseservice.selectedDepense.titredepense}}</label></li>
      <li><label class="col-form-label">Montant : {{depenseservice.selectedDepense.montantdepense}} DT </label></li>
      <li><label class="col-form-label">Date : {{depenseservice.selectedDepense.datedepense}}</label></li>
      <li><label class="col-form-label">Categorie : {{depenseservice.selectedDepense.categoriedepense}}</label></li>
      <li><label class="col-form-label">Description: {{depenseservice.selectedDepense.descriptiondepense}} </label></li>
      <li><label class="col-form-label">Justificatif: </label>
        <br>
        <img src={{depenseservice.selectedDepense.justificatifdepenses}} height="250" width="250">
      </li>

    </ul>
  </div>
</ng-template>
