
<div class="row mb-4" >
  <div class="col-md" style="padding-top: 5%">
      <div class="d-flex border">
          <div class="bg-success text-light p-4">
              <div class="d-flex align-items-center h-100">
                <img src="assets/png/profits.png" class="icon">
              </div>
          </div>
          <div class="flex-grow-1 bg-white p-4">
              <p class="text-uppercase text-secondary mb-0">Revenus</p>
              <h3 class="font-weight-bold mb-0">374</h3>
          </div>
      </div>
  </div>
  <div class="col-md" style="padding-top: 5%">
      <div class="d-flex border">
          <div class="bg-danger text-light p-4">
              <div class="d-flex align-items-center h-100">
                <img src="assets/png/loss.png" class="icon">
              </div>
          </div>
          <div class="flex-grow-1 bg-white p-4">
              <p class="text-uppercase text-secondary mb-0">Dépenses</p>
              <h3 class="font-weight-bold mb-0">73,829</h3>
          </div>
      </div>
  </div>
  <div class="col-md" style="padding-top: 5%">
      <div class="d-flex border">
          <div class="bg-info text-light p-4">
              <div class="d-flex align-items-center h-100">
                <img src="assets/png/tr.png" class="icon">
              </div>
          </div>
          <div class="flex-grow-1 bg-white p-4">
              <p class="text-uppercase text-secondary mb-0">Transactions</p>
              <h3 class="font-weight-bold mb-0">1,683</h3>
          </div>
      </div>
  </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="chartdiv"></div>
    </div>
</div>
<!--<div class="col">
  <div class="row">
    <app-dashrev></app-dashrev>
  </div>
 <div class="row">
    <app-dashdep></app-dashdep>
 </div>
</div>-->
<div class="row">
    <div class="col-12">
            <div class="row">
                    <div class="col-md-6 mb-3 text-center ">
                      <div class="card">
                        <div class="container-fluid">
                          <div class="card-header">
                          <h3> Derniers Dépenses Recurrent</h3>
                        </div>
                          <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-sm table-hover table table-striped ">
                              <thead>
                              <tr>
                                <th scope="col">Titre</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Date</th>
                               <th scope="col"></th>.
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let depensesR of DepensesRlist">
                                <td>{{depensesR.titredepense}}</td>
                                <td>{{depensesR.montantdepense}}</td>
                                <td>{{depensesR.datedepense}}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div></div>
                          <div class="card-footer"><a routerLink="/client/depenses/listdepR">afficher la suite</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3 text-center ">
                      <div class="card">
                        <div class="container-fluid">
                          <div class="card-header">
                          <h3> Derniers Dépenses </h3>
                          </div>
                          <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-sm table-hover table table-striped ">
                              <thead>
                              <tr>
                                <th scope="col">Titre</th>
                                <th scope="col">Date</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Catégorie</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let Depenses of depenseslist">
                                <td>{{Depenses.titredepense}}</td>
                                <td>{{Depenses.datedepense}}</td>
                                <td>{{Depenses.montantdepense}}</td>
                                <td>{{Depenses.categoriedepense}}</td>

                              </tr>
                              </tbody>
                            </table>
                          </div>
                          </div>
                          <div class="card-footer"> <a routerLink="/client/depenses/listdep">afficher la suite</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7 mb-3">
        <div class="card">
            <div class="container-fluid">
                <h1>Liste des projets</h1>
              <div class="table-responsive">
                <table class="table table-sm table-hover table table-striped ">
                  <thead>
                  <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Priorité</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Date</th>
                  </tr>
                  </thead>
                  <tbody>
                <tr *ngFor="let Projets of projetlist">
                    <td>{{Projets.titreprojet}}</td>
                    <td>{{Projets.priorteprojet}}</td>
                    <td>{{Projets.montantprojet}}</td>
                    <td>{{Projets.dateprojet}}</td>
                </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer"> <a routerLink="/client/projets">afficher la suite</a></div>
            </div>
          </div>
    </div>

    <div class="col-md-5 mb-3">
        <div id="projetchart"></div>
    </div>

</div>

<div class="row">
    <div class="col-12">
            <div class="row">
                    <div class="col-md-6 mb-3 text-center">
                      <div class="card">
                        <div class="container-fluid">
                          <div class="card-header">
                          <h3> Derniers Revenus Recurrent</h3>
                        </div>.
                          <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-sm table-hover table table-striped ">
                              <thead>
                              <tr>
                                <th scope="col">Titre</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Date</th>
                               <th scope="col">categorie</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let revenusR of revenusRlist">
                                <td>{{revenusR.titrerevenu}}</td>
                                <td>{{revenusR.montantrevenu}}</td>
                                <td>{{revenusR.daterevenu}}</td>
                                <td>{{revenusR.categorierevenu}}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div></div>
                          <div class="card-footer"><a routerLink="/client/revenus/listrevR">afficher la suite</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3 text-center">
                      <div class="card">
                        <div class="container-fluid">
                          <div class="card-header">
                          <h3> Derniers Revenus </h3>
                          </div>
                          <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-sm table-hover table table-striped ">
                              <thead>
                              <tr>
                                <th scope="col">Titre</th>
                                <th scope="col">Date</th>
                                <th scope="col">Montant</th>
                                <th scope="col">categorie</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let revenus of revenuslist">
                                <td>{{revenus.titrerevenu}}</td>
                                <td>{{revenus.montantrevenu}}</td>
                                <td>{{revenus.daterevenu}}</td>
                                <td>{{revenus.categorierevenu}}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          </div>
                          <div class="card-footer"> <a routerLink="/client/revenus/listrev">afficher la suite</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
</div>
