<div class="row">
  <div class="col-md-6 mb-3 text-center">
    <div class="card">
      <div class="container-fluid">
        <div class="card-header">
        <h3> Derniers Revenus Recurrent</h3>
      </div>.
        <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover table table-striped ">
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Montant</th>
              <th scope="col">Date</th>
             <th scope="col">categorie</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let revenusR of revenusRlist">
              <td>{{revenusR.titrerevenu}}</td>
              <td>{{revenusR.montantrevenu}}</td>
              <td>{{revenusR.daterevenu}}</td>
              <td>{{revenusR.categorierevenu}}</td>
            </tr>
            </tbody>
          </table>
        </div></div>
        <div class="card-footer"><a routerLink="/client/revenus/listrevR">afficher la suite</a></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3 text-center">
    <div class="card">
      <div class="container-fluid">
        <div class="card-header">
        <h3> Derniers Revenus </h3>
        </div>
        <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover table table-striped ">
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Date</th>
              <th scope="col">Montant</th>
              <th scope="col">categorie</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let revenus of revenuslist">
              <td>{{revenus.titrerevenu}}</td>
              <td>{{revenus.montantrevenu}}</td>
              <td>{{revenus.daterevenu}}</td>
              <td>{{revenus.categorierevenu}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="card-footer"> <a routerLink="/client/revenus/listrev">afficher la suite</a></div>
      </div>
    </div>
  </div>
</div>

