<div class="container-fluid">
  <div class="content row">
    <div class="card">
      <nav class="navbar">
                  <h1 class="h2">Transactions</h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                      <button class="btn btn-sm btn-outline-secondary"(click)="getweek()">cette semaine</button>
                      <button class="btn btn-sm btn-outline-secondary">cet ans</button>
                      <button class="btn btn-sm btn-outline-secondary" (click)="getMonth()">ce mois</button>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" (click)="ngOnInit()">
                      tous
                    </button>
                  </div>
        <form class="form-inline nav-item">
          <input class="form-control mr-sm-2" type="text"  name="st"  [(ngModel)]="st"
                  placeholder="dd-m-yyyy" >
          <input class="form-control mr-sm-2" type="text"   name="ed" [(ngModel)]="ed"
                 placeholder="dd-m-yyyy" >

          <button class="btn btn-sm btn-outline-secondary" type="submit" (click)="filtrer()">
            filtrer
          </button>
        </form>
      </nav>
      <hr>
      <div class="container-fluid">
            <h6 class="text-center">---</h6><br/>
            <div class="table-responsive">
              <table class="table table-sm table-hover table table-striped ">
                <thead>
                <tr>
                  <th>#</th>
                  <th>titre</th>
                  <th>date</th>
                  <th>titre </th>
                  <th>montant</th>
                </tr>
                </thead>
                <tr *ngFor="let transaction of transactionList">
                  <td> </td>
                  <td>{{transaction.titre}}</td>
                  <td>{{transaction.date}}</td>
                  <td *ngIf="(transaction.action.titredepense)"> {{transaction.action.titredepense}}</td>
                  <td *ngIf="(transaction.action.montantdepense)"> {{transaction.action.montantdepense}}</td>
                  <td *ngIf="(transaction.action.titrerevenu)">{{transaction.action.titrerevenu}}</td>
                  <td *ngIf="(transaction.action.montantrevenu)">{{transaction.action.montantrevenu}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
      </div>
    </div>
  </div>
</div>
