<header >
      <nav class="site-header fixed-top py-3">
          <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block" href="/public">Acceuil</a>
            <a class="py-2 d-none d-md-inline-block" href ="/public/#engagements">Nos engagements</a>
            <a class="py-2 d-none d-md-inline-block" href="/public/#fonctionalites">Fonctionnalités</a>
            <a class="py-2 d-none d-md-inline-block" href="/public/#contacts">Contacts</a>
            <a class="py-2 d-none d-md-inline-block" routerLink="/login"role="button">Connexion</a>
            <a class="py-2 d-none d-md-inline-block" role="button" ></a>
          </div>
      </nav>
  </header>
