<div class="container-fluid">
  <div class=" content row">
    <div class="card">
      <div class="container-fluid">
        <h3 class="col-8"></h3>
        <div class="">
        <div class="dropdown">
          <button class="dropdown-toggle btn-secondary nav-item" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
           {{titre}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let Modele of Modelelist "
               (click)="selectModelAction(Modele)"> {{Modele.titreModele}}</a>
          </div>
        </div>
        </div>
        <form #depensesForm="ngForm">
          <input type="hidden" name="$iddepense" #iddepense [(ngModel)]="currentdepenses.$iddepense">
          <input type="hidden" name="iduser" #iduser ngModel [(ngModel)]="currentdepenses.idauth">
          <div class="form-group">
            <label class="col-form-label">Titre:</label>
            <input type="text" class="form-control" name="titredepense" #titredepense="ngModel"
                   [(ngModel)]="currentdepenses.titredepense" required minlength="4">

            <div *ngIf="titredepense.errors && (titredepense.dirty|| titredepense.touched)" class="alert alert-danger">
              <div [hidden]="!titredepense.errors.required">
                <strong>Error:</strong>Ce champs est obligatoire
              </div>
              <div [hidden]="!titredepense.errors.minlength">
                <strong>Error:</strong>Ce champs est trés cours
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Montant :</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="0000.0000" name="montantdepense"
                     #montantdepense="ngModel" [(ngModel)]="currentdepenses.montantdepense" pattern="\d*" required>
              <div class="input-group-prepend">
                <div class="input-group-text">TND</div>
              </div>
              <div *ngIf="montantdepense.errors && (montantdepense.dirty|| montantdepense.touched)"
                   class="alert alert-danger">
                <div [hidden]="!montantdepense.errors.required">
                  <strong>Error:</strong>Ce champs est obligatoire

                </div>
                <div [hidden]="!montantdepense.errors.pattern">
                  <strong>Error:</strong>le montant doit étre nombre
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Date :</label>
            <input type="date" class="form-control" name="datedepense" #datedepense="ngModel"
                   [(ngModel)]="currentdepenses.datedepense"
                   pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                   required/>
            <div *ngIf="datedepense.errors && (datedepense.dirty|| datedepense.touched)" class="alert alert-danger">
              <div [hidden]="!datedepense.errors.required">
                <strong>Error:</strong>Ce champs est obligatoire
              </div>
              <div [hidden]="!datedepense.errors.pattern">
                <strong>Error:</strong>Veuillez inserrez une date correcte
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Categorie :</label>
            <select class="custom-select form-group mr-sm-2" name="categoriedepense" #categoriedepense="ngModel"
                    [(ngModel)]="currentdepenses.categoriedepense" required>
              <option *ngFor="let categorie of categories" [value]="categorie">{{categorie}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">Description: </label>
            <input class="form-control" name="descriptiondepense" #descriptiondepense="ngModel"
                   [(ngModel)]="currentdepenses.descriptiondepense"/>
          </div>
          <div class="form-group">
            <!--<label class="col-form-label">Justificatif: </label>-->
            <!--<input type="file" class="form-control" name="justificatifdepense" #justificatifdepense="ngModel" [(ngModel)]="currentdepenses.coverUrl" />-->
            <div class="form-group">
              <div class="col-md-4">
                <label>Justificatif:</label>
              </div>
              <div class="col-md-8">
                <input type="file" class="form-control" name="cover" id="cover" (change)="selectFile($event)">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>  Définir comme dépense récurrent:  </label>
            <div class="custom-control custom-checkbox alerte">
              <input type="checkbox"  id='jamais'name="jamais" [(ngModel)]="jamais"  checked>
              <label for="jamais">jamais</label>
              <input type="checkbox"  id='semaine'name="semaine"  [(ngModel)]="semaine">
              <label for="semaine">par semaine</label>
              <input type="checkbox"  id='mois'name="mois"  [(ngModel)]="mois">
              <label for="mois">par mois</label>
            </div>
          </div>

          <div [hidden]="!semaine" class="form-group">
            <select class="custom-select mr-sm-2 form-control" name="jourrep" #jourrep="ngModel"
                    [(ngModel)]="currentdepenses.jourrep">
              <option selected> veuillez choisir un jour</option>
              <option *ngFor="let semaine of semaines" >{{semaine}}</option>
            </select>
          </div>
          <div [hidden]="!mois" class="form-group">
            <select class="custom-select mr-sm-2" name="moisrep" #moisrep="ngModel"
                    [(ngModel)]="currentdepenses.moisrep">
              <option selected> veuillez choisir un mois</option>
              <option *ngFor="let mois of Mois" [value]="mois">{{mois}}</option>
            </select>
          </div>
          <div [hidden]="((!semaine) &&(!mois))" class="form-group">
            Du <input type="date" class="form-control" name="datefrom" #datefrom="ngModel"
                      [(ngModel)]="currentdepenses.datefrom"/>
            au <input type="date" class="form-control" name="dateto" #dateto="ngModel"
                      [(ngModel)]="currentdepenses.dateto"/>
          </div>
          <div *ngIf="dateto.value < datefrom.value">
            <div class="alert alert-danger">
              <strong>Error:</strong>date invalide
            </div>
          </div>
          <div class="custom-control custom-checkbox alerte  ">
                  <input type="checkbox" class="custom-control-input" data-toggle="collapse" href="#collapsealertedep"
                         role="button" aria-expanded="false" aria-controls="collapseExample"
                         id="customCheckalertedep">
                  <label class="custom-control-label" for="customCheckalertedep">Ajouter un alerte :</label>
                  <div class="collapse" id="collapsealertedep">
                    <div class="card card-body">
                      <div class="form-group">
                        <label class="" type=""> m'avertir avant : </label>
                        <div class="row">
                          <div class="col-6">
                            <select class="custom_menu">
                             <option *ngFor="let alert of alerts" [value]="alert"> {{alert}}</option>
                            </select>
                          </div>
                          <div class="col-6">
                            <label class="" type=""> jour(s) </label></div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>


          <div *ngIf="currentFileUpload" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped"
                 role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                 aria-valuemin="0" aria-valuemax="100"
                 [ngStyle]="{width:progress.percentage+'%'}">
            </div>
          </div>
          <div class="row">
            <div class="col-2 content-center">
              <button [hidden]="!jamais" class="btn btn-primary bouton" [disabled]="!depensesForm.valid || ( dateto.value < datefrom.value )"
                      (click)="savedepense()">
                ajouter
              </button>
            </div>
            <div class="col-1"></div>
            <div class="col-3 content-center">
              <button type="submit" [hidden]="((!semaine) &&(!mois))" class="btn btn-primary bouton" [disabled]="!depensesForm.valid || ( dateto.value < datefrom.value )"
                      (click)="savedepenseRecurrent()">ajouter recurent
              </button>
            </div>
            <div class="col-1 content-center">
              <button type="reset" class="btn btn-secondary bouton">annuler</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



