<div class="container">
  <div class="notice notice-info  row">
     <div class="col-11"><strong>Revenus</strong> vous recevez votre salaire dans deux jours </div> <div class="col-1"><img src="assets/png/ed.png" class="icon"><img src="assets/png/del.png" class="icon"></div>
  </div>
  <div class="notice notice-info  row">
      <div class="col-11"><strong>Dépenses</strong> vous devez payer les frais de logement dans 5jours</div> <div class="col-1"><img src="assets/png/ed.png" class="icon"><img src="assets/png/del.png" class="icon"></div>
  </div>
  <div class="notice notice-info row">
      <div class="col-11"><strong>Projets</strong> Il vous reste 8 jours pour realisez le projet achat voiture </div><div class="col-1"><img src="assets/png/ed.png" class="icon"><img src="assets/png/del.png" class="icon"></div>
  </div>
  <div class="notice notice-info  row">
      <div class="col-11"><strong>Projets</strong> Il vous reste seulement 30% dans 4 jours pour realiser le projet</div> <div class="col-1"><img src="assets/png/ed.png" class="icon"><img src="assets/png/del.png" class="icon"></div>
  </div>
  <div class="notice notice-info  row">
    <div class="col-11"><strong>Dépenses</strong> vous devez payer les frais d'éléctricités dans 3jours </div><div class="col-1"><img src="assets/png/ed.png" class="icon"><img src="assets/png/del.png" class="icon"></div>
</div>
<div class="notice notice-info  row">
  <div class="col-11"><strong>Revenus</strong> vous recevez une bourse dans 2 jours</div> <div class="col-1"><img src="assets/png/ed.png" class="icon"><img src="assets/png/del.png" class="icon"></div>
</div>
<div class="notice notice-info  row">
  <div class="col-11"><strong>Dépenses</strong> vous devez payer les frais d'assurance dans 1jours</div> <div class="col-1"><img src="assets/png/ed.png" class="icon"><img src="assets/png/del.png" class="icon"></div>
</div>
<div class="notice notice-info  row">
  <div class="col-11"><strong>Projets</strong> Il vous reste seulement 4% dans 8 jours pour realiser le projet </div> <div class="col-1"><img src="assets/png/ed.png" class="icon"><img src="assets/png/del.png" class="icon"></div>
</div>
</div>
