
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <div class="navbar-toggle">
      <button type="button" class="navbar-toggler">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>

  <a class="navbar-brand" href="#">{{this.pageName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row no-gutters">
      <div class="col-6 col-md-4"></div>
        <div class="col-12 col-sm-6 col-md-8">
        <div class="navbar-nav ">

          <form class="form-inline nav-item">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <form class="nav-item dropdown form-inline ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell" ></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="#">
                notification1
              </a>
              <a class="dropdown-item" href="#">
                notification2
              </a>

            </div>
          </form>

          <form class="nav-item dropdown form-inline ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="  rounded-circle " alt="Card image cap" src="assets/img/profil.png"
                   width="60">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">
                <img class=" rounded-circle "
                     src="assets/img/profil.png" width="60" height="60">
              </a>
              <div class="dropdown-item" href="#">
                <h5> Nom prenom </h5>
                <p class="content-center"> e-mail</p>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">déconnecter</a>
            </div>
          </form>
        </div>
    </div>
      </div>
  </div>
  </div>
</nav>
