<!-- Header

  <div class="d-flex   align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
   <!-- <a class="navbar-brand my-0 mr-md-auto font-weight-normal" routerLink="/">
      <img src="./../../../../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top img-circle"
           alt="">
      <label class="title-bon-plan">Bon Plan</label>
    </a>
   <!-- <div class="my-2 my-md-0 mr-md-3">-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand my-0 mr-md-auto font-weight-normal" routerLink="/">
            <img src="./../../../../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top img-circle"
                 alt="">
            <label class="title-bon-plan">port money</label>
          </a>
        <div class="my-2 my-md-0 mr-md-3 ml-5">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <form class="nav-item dropdown form-inline ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="assets/png/alarm.png" class="icon">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <a class="dropdown-item" href="#">
                    notification1
                  </a>
                  <a class="dropdown-item" href="#">
                    notification2
                  </a>

                </div>
              </form>
            </li>
            <li class="nav-item">
              <form class="nav-item dropdown form-inline ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="rounded-circle" alt="Card image cap" src="assets/img/profil.png"
                       width="60">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="profil">
                    <img class=" rounded-circle "
                         src="assets/img/profil.png" width="60" height="60">
                  </a>
                  <div class="dropdown-item" href="#">
                    <h5> Nom prenom </h5>
                    <p class="content-center"> e-mail</p>
                  </div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"  (click)="logout()" >déconnecter</a>
                </div>
              </form>
            </li>
          </ul>
        </div>
        </div>
        </div>
      </nav>






<!--
<nav class="navbar navbar-expand-lg navbar-light   bootstrap-navbar" >
  <div class="container-fluid">
    <div class="navbar-toggle">
      <button type="button" class="navbar-toggler">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>

  <a class="navbar-brand" href="#">{{this.pageName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container ">
        <div class="row">
          <div class="col-12">
      <div class="col-8 col-md-4"></div>
        <div class="col-4 col-sm-6 col-md-8">
        <div class="navbar-nav ">

          <form class="form-inline nav-item">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <form class="nav-item dropdown form-inline ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/png/alarm.png" class="icon">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="#">
                notification1
              </a>
              <a class="dropdown-item" href="#">
                notification2
              </a>

            </div>
          </form>

          <form class="nav-item dropdown form-inline ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="  rounded-circle " alt="Card image cap" src="assets/img/profil.png"
                   width="60">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">
                <img class=" rounded-circle "
                     src="assets/img/profil.png" width="60" height="60">
              </a>
              <div class="dropdown-item" href="#">
                <h5> Nom prenom </h5>
                <p class="content-center"> e-mail</p>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">déconnecter</a>
            </div>
          </form>
        </div>
    </div>
      </div>
      </div>
  </div>
  </div>
  </div>
</nav>
-->
