.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}
.error-actions .btn {
  margin-right:10px;
}
.number-404{
  color: #ae5052;
  font-size: 200px;
}
.oops{
  font-size: 20px;
  font-weight: bold;
  color:black;
  text-align: center;
}
.title{
  font-family: "Bradley Hand ITC";
  display: inline-block;
  margin: 0;
  line-height: 1.8em;
  font-size: 1em;
  font-weight: 400;
}
