<html>
  <body>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1 class="number-404">404</h1>
              <h2 class="oops">Oops! Page non trouvée</h2>
              <div class="error-details">
                  Désolé, une erreur est survenue, la page demandée n'a pas été trouvée!
              </div>
              <div class="error-actions">
                  <button href="" class="btn btn-outline-danger btn-take-me-home btn-lg">
                      <i class="fas fa-home"></i>
                      Retour à l'accueil</button>

              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>
