/**
aefzoubvrgz
 */
.container-fluid {
  width: 100%;
  padding-right: 30px; !important;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/** */

.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;

    padding-left: 0;
}
.arriere_plan {
    padding: 50px;
}

.custom_menu
{
    width: 100%;
    text-align: right;
}
.sidebar {
    padding-left: 0;
}

.descrption{
    width: 100% ;
    max-width : 100%;
    paddding :0;
}
.a:hover{
    text-decoration : none;
}
a.a{
color: #000000;
text-decoration: none;
background-color: transparent;
}

.bouton {
    margin-right: 9% ;
    margin-bottom: 9%;
}

.prioridanger :hover {
    background-color: #FF0A01;
}
.card{
    margin-bottom: 5%;
}
@media all {
  body {
    font-family: 'Open Sans', sans-serif;
  }
}




