<div class="container-fluid">
  <div class="content row">
    <nav class="navbar container-fluid">
      <h1> Revenus Recurrent </h1>
      <div class="dropdown">
        <button class="dropdown-toggle nav-item" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Trier par
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="ontrie('montantrevenu')">par montant</a>
          <a class="dropdown-item" (click)="ontrie('titrerevenu')" >par titre</a>
          <a class="dropdown-item" (click)="ontrie('daterevenu')">par date</a>
        </div>
      </div>
      <form class="form-inline nav-item">
        <input class="form-control mr-sm-2" type="text" (keyup)="onSearch($event)" name="searchText"
               data-toggle="dropdown" placeholder="chercher ..." aria-label="Search">
      </form>

    </nav>
    <div class="card">
      <div class="container-fluid">
        <div class="table-responsive">
          <table class="table table-sm table-hover table table-striped ">
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Date</th>
              <th scope="col">Montant</th>
              <th scope="col">Catégorie</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let revenusR of RevenusRlist">
              <td>{{revenusR.titrerevenu}}</td>
              <td>{{revenusR.daterevenu}}</td>
              <td>{{revenusR.montantrevenu}}</td>
              <td>{{revenusR.categorierevenu}}</td>
              <td>
                <a (click)="openWindowCustomClass(contentEditR,revenusR)"><i class="far fa-edit"></i></a>
                <a (click)="onDelete(revenusR.$key)">
                  <i class="fas fa-trash-alt"></i>
                </a>
                <a (click)="openWindowCustomClass(contentDetailR,revenusR)"><i class="fas fa-eye"></i></a>
                <a *ngIf="revenusR.active" (click)="activedisactivrev(revenusR,revenusR.$key)"><i class="fas fa-ban"></i></a>
                <a *ngIf="!(revenusR.active)" (click)="activedisactivrev(revenusR,revenusR.$key)"> <i class="fas fa-redo-alt"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #contentEditR let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifier</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #revenusFormR="ngForm" (ngSubmit)="onUpdateR(revenusFormR)">
      <input type="hidden" name="$idrevenu" #$idrevenu="ngModel" [(ngModel)]="selectedRevenuR.$key">
      <div class="container-fluid">
        <div class="content row">
            <div class="container-fluid">
              <div class="form-group">
                <label class="col-form-label">Titre:</label>
                <input type="text" class="form-control" name="titrerevenu" #titrerevenu="ngModel"
                       [(ngModel)]="selectedRevenuR.titrerevenu" required minlength="4">
                <div *ngIf="titrerevenu.errors && (titrerevenu.dirty|| titrerevenu.touched)"
                     class="alert alert-danger">
                  <div [hidden]="!titrerevenu.errors.required">
                    <strong>Error:</strong>Ce champs est obligatoire
                  </div>
                  <div [hidden]="!titrerevenu.errors.minlength">
                    <strong>Error:</strong>Ce champs est trés cours
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Montant :</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="0000.0000" name="montantrevenu"
                         #montantrevenu="ngModel" [(ngModel)]="selectedRevenuR.montantrevenu"
                         pattern="\d*" required>
                  <div class="input-group-prepend">
                    <div class="input-group-text">TND</div>
                  </div>
                  <div *ngIf="montantrevenu.errors && (montantrevenu.dirty|| montantrevenu.touched)"
                       class="alert alert-danger">
                    <div [hidden]="!montantrevenu.errors.required">
                      <strong>Error:</strong>Ce champs est obligatoire
                    </div>
                    <div [hidden]="!montantrevenu.errors.pattern">
                      <strong>Error:</strong>le montant doit étre nombre
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Date :</label>
                <input type="date" class="form-control" name="daterevenu" #daterevenu="ngModel"
                       [(ngModel)]="selectedRevenuR.daterevenu"
                       pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                       required/>
                <div *ngIf="daterevenu.errors && (daterevenu.dirty|| daterevenu.touched)" class="alert alert-danger">
                  <div [hidden]="!daterevenu.errors.required">
                    <strong>Error:</strong>Ce champs est obligatoire
                  </div>
                  <div [hidden]="!daterevenu.errors.pattern">
                    <strong>Error:</strong>Veuillez inserrez une date correcte
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Categorie :</label>
                <select class="custom-select form-group mr-sm-2" name="categorierevenu" #categorierevenu="ngModel"
                        [(ngModel)]="selectedRevenuR.categorierevenu" required>
                  <option *ngFor="let categorie of categories" [value]="categorie">{{categorie}}</option>
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">Description: </label>
                <input class="form-control" name="descriptionrevenu" #descriptionrevenu="ngModel"
                       [(ngModel)]="selectedRevenuR.descriptionrevenu"/>
              </div>
              <div class="custom-control custom-checkbox récurents ">
                <input type="checkbox" class="custom-control-input" data-toggle="collapse" href="#collapserecudep"
                       role="button" aria-expanded="false" aria-controls="collapseExample"
                       id="customCheckrecudep">
                <label class="col-form-label" for="customCheckrecudep"> Définir comme dépense récurrent </label>

                <div class="collapse" id="collapserecudep">
                  <div class="card card-body form-group">
                    <div class="form-group">
                      <select class="custom-select mr-sm-2 form-control" name="typerep" #typerep="ngModel"
                              [(ngModel)]="selectedRevenuR.typerep">
                        <option *ngFor="let repete of repetes" [value]="repete">{{repete}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select class="custom-select mr-sm-2 form-control" name="jourrep" #jourrep="ngModel"
                              [(ngModel)]="selectedRevenuR.jourrep">
                        <option *ngFor="let semaine of semaines" [value]="semaine">{{semaine}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select class="custom-select mr-sm-2 form-control" name="moisrep" #moisrep="ngModel"
                              [(ngModel)]="selectedRevenuR.moisrep">
                        <option *ngFor="let mois of Mois" [value]="mois">{{mois}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      Du <input type="date" class="form-control" name="datefrom" #datefrom="ngModel"
                             [(ngModel)]="selectedRevenuR.dateform"/>
                      au <input type="date" class="form-control" name="dateto" #dateto="ngModel"
                                [(ngModel)]="selectedRevenuR.dateto"/>
                    </div>
                    <div *ngIf="dateto.value < datefrom.value">
                      <div class="alert alert-danger">
                        <strong>Error:</strong>date invalide
                      </div>
                    </div>
                    <div class="custom-control custom-checkbox alerte  ">
                      <input type="checkbox" class="custom-control-input" data-toggle="collapse"
                             href="#collapsealertedep"
                             role="button" aria-expanded="false" aria-controls="collapseExample"
                             id="customCheckalertedep">
                      <label class="custom-control-label" for="customCheckalertedep">Modifier une alerte :</label>
                      <div class="collapse" id="collapsealertedep">
                        <div class="card card-body">
                          <div class="form-group">
                            <label class="" type=""> m'avertir avant : </label>
                            <div class="row">.
                              <div class="col-6">
                                <select class="custom_menu">
                                  <option *ngFor="let alert of alerts" [value]="alert"> {{alert}}</option>
                                </select>
                              </div>
                              <div class="col-6"><label class="" type=""> jour(s) </label></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3 content-center">
                  <button type="submit" class="btn  bouton" style="background-color: #0D47A1" [disabled]="!revenusFormR.valid">modifier
                  </button>
                </div>
                <div class="col-2 content-center">
                  <button type="reset" class="btn btn-secondary  bouton">annuler
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #contentDetailR let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ul class="content-center detail">
    <li><label class="col-form-label">titre: {{selectedRevenuR.titrerevenu}}</label></li>
    <li><label class="col-form-label">Montant : {{selectedRevenuR.montantrevenu}} DT </label></li>
    <li><label class="col-form-label">Date : {{selectedRevenuR.daterevenu}}</label></li>
    <li><label class="col-form-label">Description: {{selectedRevenuR.descriptionrevenu}} </label></li>
    <li><label class="col-form-label">Justificatif: </label>
      <br>
      <img src={{selectedRevenuR.justificatifrevenu}} width="150cm" height="150cm">
    </li>
    <li *ngIf="(!selectedRevenuR.active)"><label class="col-form-label"> revenu disactivè ou bien sa
      durée de repition a été terminè </label></li>
    <div *ngIf="(selectedRevenuR.active)">
      <li><label class="col-form-label">revenu activè encours </label></li>
      <li>
        <p class="col-form-label">type de repition: par {{selectedRevenuR.typerep}}
          de : {{selectedRevenuR.dateform}} à :
          {{selectedRevenuR.dateto}}
        </p>
      </li>
    </div>
  </ul>
</ng-template>

