
<div class="container-fluid">
    <div class="navbar-header">
    </div>
  <div class="sidebar-sticky sidebar">
  <ul class="nav flex-column mb-2">
    <li class="active nav-item" class="nav-item">
      <a routerLink=""  class="nav-link" (click)="change('tableau de bord')">
        <img src="assets/png/pie-chart.png" class="icon">  Tableau de bord
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="transaction/listT"  class="nav-link" (click)="change('Transactions')">
        <img src="assets/png/transaction.png" class="icon"> Transactions
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="revenus" class="nav-link"  (click)="change('Mes Revenus')">
        <img src="assets/png/atm-1.png" class="icon">
        Mes Revenus
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="depenses"  class="nav-link" (click)="change('Mes Dépenses')">
        <img src="assets/png/atm-2.png" class="icon">
        Mes Dépenses
      </a>
    </li>
    <li class="nav-item">
      <a routerLink=""  class="nav-link" (click)="change('Rapports & Stat')">
        <img src="assets/png/presentation-7.png" class="icon">
        Rapports & Stat
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link"  (click)="change('Alert')">
        <img src="assets/png/alarm.png" class="icon">
        Alert
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="projets" class="nav-link"  (click)="change('Mes futurs projets')">
          <img src="assets/png/network.png" class="icon"> Mes futurs projets
      </a>
    </li>
    <li class="active-pro nav-item" (click)="change('Parametre')">
      <a routerLink="" class="nav-link" >
          <img src="assets/png/settings.png" class="icon"> Parametre
      </a>
    </li>
  </ul>
  </div>
  </div>
  
  

