@media screen and (max-width: 991px){
  .nav-open .sidebar {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  .perfect-scrollbar-on .sidebar, .perfect-scrollbar-on .main-panel {
    height: 100%;
    max-height: 100%;
  }}
  @media screen and (max-width: 991px){
    .sidebar, .bootstrap-navbar {
      position: fixed;
      display: block;
      top: 0;
      height: 100%;
      width: 260px;
      right: auto;
      left: 0;
      z-index: 1032;
      visibility: visible;
      overflow-y: visible;
      padding: 0;
      -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -webkit-transform: translate3d(-260px, 0, 0);
      transform: translate3d(-260px, 0, 0);
    }}
    .sidebar, .off-canvas-sidebar {
      position: fixed;
      top: 0;
      height: 100%;
      bottom: 0;
      width: 260px;
      left: 0;
      z-index: 1030;
    }
    *, ::after, ::before {
      box-sizing: inherit;
    }
  .sidebar .logo, .off-canvas-sidebar .logo {
       position: relative;
       padding: 0.5rem 0.7rem;
       z-index: 4;}
