<div class="sidebar-sticky sidebar">
<ul class="nav flex-column mb-2">
  <li class="active nav-item" class="nav-item">
    <a routerLink=""  class="nav-link" (click)="change('tableau de bord')">
      <img src="assets/png/pie-chart.png" class="icon">  Tableau de bord
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="transaction/listT"  class="nav-link" (click)="change('Transactions')">
      <i class="fas fa-chart-line "></i> Transactions
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="revenus" class="nav-link"  (click)="change('Mes Revenus')">
      <img src="assets/png/atm-1.png" class="icon">
      Mes Revenus
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="depenses"  class="nav-link" (click)="change('Mes Dépenses')">
      <img src="assets/png/atm-2.png" class="icon">
      Mes Dépenses
    </a>
  </li>
  <li class="nav-item">
    <a routerLink=""  class="nav-link" (click)="change('Rapports & Stat')">
      <img src="assets/png/presentation-7.png" class="icon">
      Rapports & Stat
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="" class="nav-link"  (click)="change('Alert')">
      <img src="assets/png/alarm.png" class="icon">
      Alert
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="projets" class="nav-link"  (click)="change('Mes futurs projets')">
      Mes futurs projets
    </a>
  </li>
  <li class="active-pro nav-item" (click)="change('Parametre')">
    <a routerLink="" class="nav-link" >
       Parametre
    </a>
  </li>
</ul>
</div>
