<section class ="container-fluid " id="engagements"   style="background-image: url('assets/img/bg56.jpeg');padding: 10%">
  <div class="container ">
      <div class="container marketing ">
          <div class="section-heading text-center">
              <h2>Nos engagement</h2>
              <div class="line-shape"></div>
          </div>
          <div class="row ">
              <div class="col-lg-4">
                  <img class="rounded-circle"  src="assets/img/bnnn.jpeg"  width="100" height="100" >
                  <h2 style="color:#ffffff;">Securité</h2>
                  <p style="color:#ffffff;">l'acces a nos donnees est trés sécurisés nous somme reguliairement audités par des pesialistes de sécurité </p>
              </div>
              <div class="col-lg-4">
                  <img class="rounded-circle" src="assets/img/bbbn.jpeg"  width="100" height="100">
                  <h2 style="color:#ffffff;">Experience utilisateur</h2>
                  <p style="color:#ffffff;"> Interface simple, moderne, bien structurée et conviviale pour favoriser une prise en main rapide des fonctionnalités de l’application </p>
              </div>
              <div class="col-lg-4">
                  <img class="rounded-circle" src="assets/img/confid.png"  width="100" height="100">
                  <h2 style="color:#ffffff;">Confidentialité</h2>
                  <p style="color:#ffffff;"> L’application devra avoir l’aptitude de s’exécuter sur la plupart des navigateurs que vont s’en servir les utilisateurs aﬁn d’y accéder </p>
              </div>
          </div>
      </div>
  </div>
</section>
