
<div class="container-fluid">
  <div class="row">
  <div class="col-md-8">
    <div class="card">
      <h4 class="col-md-6 mb-3 text-center ">Mes coordonnés</h4>
      <hr class="mb-4">
      <form class="needs-validation" novalidate="">

        <div class="col-md-6 mb-3">
          <label for="nom">Nom</label>
          <input type="text" class="form-control " name="nom">
          <div class="valid-feedback">Cela semble bon!</div>
          <div class="invalid-feedback"> Veuillez tappez votre nom. </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control" name="Prenom">
          <div class="valid-feedback"> Cela semble bon!</div>
          <div class="invalid-feedback"> Veuillez tappez votre prenom.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationTooltipUsername">Nom d'utilisateur</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
            </div>
            <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
            <div class="valid-feedback"> valide !</div>
            <div class="invalid-feedback"> Veuillez choisir un nom d'utilisateur unique et valide.</div>

          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="email">Email </label>
          <input type="email" class="form-control" name="email" placeholder="nom@exemple.com">
          <div class="valid-feedback">valide ! </div>
          <div class="invalid-feedback">S'il vous plaît entrer une adresse email valide .</div>
        </div>
      </form>
      <hr class="mb-4">
    </div>
    <div class="card">
      <h4 class="col-md-6 mb-3 text-center ">Mes  données </h4>
      <hr class="mb-4">
      <form class="needs-validation" novalidate="">

        <div class="mb-3">
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="sexe">sexe</label>
            <select class="custom-select mr-sm-2" id="sexe">
              <option selected>choisir...</option>
              <option value="1">homme</option>
              <option value="2">femme</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label for="Dtn">Date de naissance</label>
          <input type="date" class="form-control" name="Dtn">
          <div class="valid-feedback"> valide !</div>
          <div class="invalid-feedback"> S'il vous plaît entrer une date valide . </div>

        </div>
        <div class="col-md-6 mb-3">
          <label for="nationalité">Nationalité</label>
          <input type="text" class="form-control" name="nationalité">
          <div class="valid-feedback">Cela semble bon!</div>
          <div class="invalid-feedback"> Veuillez tappez votre nationalité.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="pays">Pays</label>
          <input type="text" class="form-control" name="pays"/>
          <div class="valid-feedback"> Cela semble bon! </div>
          <div class="invalid-feedback">Veuillez tappez votre pays.</div>
        </div>
        <div class="mb-3">
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="état civil">état civil</label>
            <select class="custom-select mr-sm-2" id="état civil">
              <option selected>choisir...</option>
              <option value="1">célibataire</option>
              <option value="2">marier</option>
              <option value="3">divorcé</option>
            </select>
          </div>
        </div>

        <div class="mb-3">
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="profession">Profession</label>
            <select class="custom-select mr-sm-2" id="profession">
              <option selected>choisir...</option>
              <option value="1">étudiant</option>
              <option value="2">salarié</option>
              <option value="3">gérant</option>
            </select>
          </div>
        </div>

        <hr class="mb-4 center">
        <button class="btn" type="submit">Modifier</button>
        <button class="btn" type="reseat">Annuler</button>
      </form>
    </div>


  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="../assets/img/profil.png" alt="...">
            <h5 class="title">Mike Andrew</h5>
          </a>
          <p class="description">
            michael24
          </p>
        </div>
        <p class="description text-center">
          "Lamborghini Mercy
          <br> Your chick she so thirsty
          <br> I'm in that two seat Lambo"
        </p>
      </div>
      <hr>
      <div class="button-container">
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-twitter"></i>
        </button>
        <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
          <i class="fab fa-google-plus-g"></i>
        </button>
      </div>
    </div>

    </div>
  </div>
</div>
