<form #projetForm="ngForm" (ngSubmit)="onSubmit(projetForm)">
  <input type="hidden" name="$idprojet" #idprojet ="ngModel" [(ngModel)]="currentprojet.$idprojet">
      <div class="container-fluid">
        <div class=" content row">
              <div class="card">
                <div class="container-fluid">
                  <h3 class="col-10"></h3>
                  <div class="col-2">
                    <div class="form-group">
                      <select class="custom-select mr-sm-2 btn btn-primary" id="selectprojet" >
                        <option *ngFor = "let typedep of typedeps" [value]="typedep">{{typedep}}</option>
                      </select>
                    </div>
                  </div>
                <div class="form-group">
                  <label class="col-form-label">Titre:</label>
                  <input type="text" class="form-control" name="titreprojet" #titreprojet="ngModel" [(ngModel)]="currentprojet.titreprojet">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Montant :</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="0000.0000" name="montantprojet" #montantprojet="ngModel" [(ngModel)]="currentprojet.montantprojet">
                    <div class="input-group-prepend">
                      <div class="input-group-text">TND</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">.
                  <label class="col-form-label">Date :</label>
                  <input type="date" class="form-control" name="dateprojet" #dateprojet="ngModel" [(ngModel)]="currentprojet.dateprojet "  />
                </div>
                <div class="form-group">
                  <label class="col-form-label">Priorité </label>
                  <select class="custom-select form-group mr-sm-2" #prioriteprojet="ngModel" [(ngModel)]="currentprojet.prioriteprojet">
                    <option *ngFor = "let priorite of priorites" [value]="priorite">{{priorite}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Description: </label>
                  <input class="form-control" name="descriptionprojet" #descriptionprojet="ngModel" [(ngModel)]="currentprojet.descriptionprojet"/>
                </div>
                <div class="row">
                <div class="col-1 content-center">
                  <button type="submit" class="btn btn-primary bouton">ajouter</button>
                </div>
                <div class="col-1 content-center">
                  <button type="reset" class="btn btn-secondary  bouton">annuler
                  </button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
</form>
