<div class="row">
  <div class="col-6">
      <label class="col-form-label text-center" style="font-family: 'Courier New', Courier, monospace ;font-size: 0.5cm " for="categoriedepensechartdiv" ><strong>Chart de categorisation des depenses</strong> </label>
      <div id="categoriedepensechartdiv"></div>
  </div>
<div class="col-6">
    <label class="col-form-label text-center" style="font-family: 'Courier New', Courier, monospace ;font-size: 0.5cm " for="categorierevenuchartdiv" > <strong>Chart de categorisation des revenus</strong></label>
    <div id="categorierevenuchartdiv"> </div>
</div>
</div>
<div class="row">
  <div class="col-3">  </div>
  <div class="col-6">
      <label class="col-form-label text-center"style="font-family: 'Courier New', Courier, monospace ;font-size: 0.5cm "  for="categorierevenuchartdiv" > <strong>Chart de categorisation des projets</strong></label>
      <div id="projetchart"></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <label class="col-form-label text-center" style="font-family: 'Courier New', Courier, monospace ;font-size: 0.5cm " for="categorierevenuchartdiv" > <strong>Chart de l'eveolution des revenus et des dépenses</strong></label>
      <div id="chartdiv1"></div>
  </div>
</div>
<!-- <div id="chart"> test</div>  
<div id="chartdiv"> test</div>-->
