<form  #revenusForm="ngForm" (ngSubmit)="onSubmit(revenusForm)">
  <input type="hidden" name="$idrevenu" #idrevenu  ngModel [(ngModel)]="currentrevenus.$iddepense">
      <div class="container-fluid">
        <div class=" content row">
              <div class="card">
                <div class="container-fluid">
                  <h3 class="col-10"></h3>
                  <div class="col-2">
                    <div class="form-group">
                      <select class="custom-select mr-sm-2 btn btn-primary" id="selectrevenu" >
                        <option *ngFor = "let typedep of typedeps" [value]="typedep">{{typedep}}</option>
                      </select>
                    </div>.
                  </div>
                <div class="form-group">
                  <label class="col-form-label">Titre:</label>
                  <input type="text" class="form-control" name="titrerevenu" #titrerevenu="ngModel" [(ngModel)]="currentrevenus.titredepense">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Montant :</label>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="0000.0000" name="montantdepense" #montantdepense="ngModel" [(ngModel)]="currentdepenses.montantdepense">
                    <div class="input-group-prepend">
                      <div class="input-group-text">TND</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Date :</label>
                  <input type="date" class="form-control" name="datedepense" #datedepense="ngModel" [(ngModel)]="currentrevenus.datedepense "  />
                </div>
                <div class="form-group">
                  <label class="col-form-label">Cathegorie :</label>
                  <input type="text" class="form-control" name="cathegoriedepense" #cathegoriedepense="ngModel" [(ngModel)]="currentrevenus.cathegoriedepense "/>
                </div>
                <!--<div class="form-group">
                  <label for="Categorie" class="col-form-label">Cathegorie :</label>
                  <select class="custom-select form-group mr-sm-2" #cathegoriedepense="ngModel" [(ngModel)]="currentdepenses.cathegoriedepense">
                    <option *ngFor = "let cathegorie of cathegories" [value]="cathegorie">{{cathegorie}}</option>
                  </select>
                </div>-->
                <div class="form-group">
                  <label class="col-form-label">Description: </label>
                  <input class="form-control" name="descriptiondepense" #descriptiondepense="ngModel" [(ngModel)]="currentrevenus.descriptiondepense"/>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Justificatif: </label>
                  <input type="file" class="form-control" name="justificatifdepense" #justificatifdepense="ngModel" [(ngModel)]="currentrevenus.justificatifdepense" />
                </div>

              <!--div class="custom-control custom-checkbox récurents ">
                <input type="checkbox" class="custom-control-input" data-toggle="collapse" href="#collapserecudep"
                       role="button" aria-expanded="false" aria-controls="collapseExample"
                       id="customCheckrecudep">
                <label class="col-form-label" for="customCheckrecudep"> Définir comme dépense récurrent </label>
                <div class="collapse" id="collapserecudep">
                  <div class="card card-body form-group">
                    <div class="form-group">
                      <select class="custom-select mr-sm-2 form-control" >
                        <option *ngFor ="let repete of repetes" [value]="repete"> {{repete}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select class="custom-select mr-sm-2 form-control">
                        <option *ngFor ="let semaine of semaines" [value]="semaine"> {{semaine}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <select class="custom-select mr-sm-2">
                        <option *ngFor = "let moi of mois" [value]="moi">{{ moi}}</option>
                      </select>
                    </div>
                    <div class="form-group" >
                      Du  <input formControlName="dateFrom" type="date" useValueAsDate />
                      au  <input formControlName="dateTo" type="date" useValueAsDate />
                    </div>
                    <div class="custom-control custom-checkbox alerte  ">
                      <input type="checkbox" class="custom-control-input" data-toggle="collapse" href="#collapsealertedep"
                             role="button" aria-expanded="false" aria-controls="collapseExample"
                             id="customCheckalertedep">
                      <label class="custom-control-label" for="customCheckalertedep">Ajouter un alerte :</label>
                      <div class="collapse" id="collapsealertedep">
                        <div class="card card-body">
                          <div class="form-group">
                            <label class="" type=""> m'avertir avant : </label>
                            <div class="row">
                              <div class="col-6">
                                <select class="custom_menu">
                                  <option value="1">1</option>
                                </select>
                              </div>
                              <div class="col-6"> <label class="" type=""> jour(s) </label></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>-->
              <div class="row">
                <div class="col-1 content-center">
                  <button type="submit" class="btn btn-primary bouton" [disabled]="!depensesForm.valid">ajouter</button>
                </div>
                <div class="col-1 content-center">
                  <button type="reset" class="btn btn-secondary  bouton">annuler
                  </button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
</form>