<div class="container">

  <h1>Connecté vous à votre compte 2 </h1>

  <button class="btn btn-sucess" (click)="logingoogle()">Connexion avec Google</button>
  <button class="btn btn-sucess" (click)="loginfacebook()">Connexion avec facebook</button>
  <button class="btn" (click)="openBackDropCustomClass(content)">s'inscrire/connecter</button>

  <button class="btn btn-sucess" routerLink="/login2">connexion sans mot de passe</button>

</div>


<ng-container *ngIf="user | async; else login">

  <div class="notification is-success">
    Congrats You logged in without a password!
  </div>

  <button (click)="logout()" class="button">Signout</button>

</ng-container>

<ng-template #login>
  <label for="email" class="label">e-mail</label><br>
  <input type="email" class="input" [(ngModel)]="email">

  <hr>

  <button class="button is-primary" [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</button>

  <hr>

</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Connexion</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-signin">
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" name="email"  required autofocus>
      <label for="inputPassword" class="sr-only">Mot de passe</label>
      <input type="password" id="inputPassword" class="form-control" name="password" [(ngModel)]="password" required>

      <button class="btn btn-secondary" type="submit" (click)="singup()">s'inscrire</button>
      <button class="btn btn-secondary" type="submit" (click)="signin()">Connecter</button>
    </form>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="('Close click')">Annuler </button>
  </div>
</ng-template>
<form #captchaProtectedForm="ngForm">
  <re-captcha (resolved)="resolved($event)" [(ngModel)]="formModel.captcha" name="captcha"required siteKey="6Ldw8FUUAAAAAGGrC5Sf-sI5N6co4HT5pykzIBDJ" #captchaControl="ngModel">
  </re-captcha>
  <div [hidden]="captchaControl.valid || captchaControl.pristine" class="error">Captcha must be solved</div>
  <div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>
  <div [hidden]="captchaProtectedForm.form.valid" class="error">The form must be filled out</div>
  <div [hidden]="!captchaProtectedForm.form.valid" class="success">The form is valid</div>
  <button (click)="formModel.captcha = ''">Reset Captcha</button>
  
</form>
