<header >
  <nav class="site-header fixed-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" routerLink="/public">Acceuil</a>
      <a class="py-2 d-none d-md-inline-block" routerLink ="#engagements">Nos engagements</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="#fonctionnalite">Fonctionnalités</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="#contacts">Contacts</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/login"role="button">Connexion</a>
      <a class="py-2 d-none d-md-inline-block" role="button" ></a>
    </div>
  </nav>
</header>
  <div class="container-login100 text-white" style="background-image: url('./../../../assets/img/bgc.jpg');">
  <div *ngIf="connecter" >
    <br>
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <img class="mb-4 " src="./../../../assets/img/logo.png" alt="" width="72" height="72">
            <label class="title" ><strong>Port money</strong></label>
          </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="h3 font-weight-normal">Je me connecte</h1>
        </div>
      </div>
      <div class="row">
    <div class="col-md-5">
        <form class="form-signin">
                <label for="Emailsignin" class="">Email</label>
                <input type="email" id="Emailsignin" class="form-control" name="email" [(ngModel)]="email" required >
              <label for="Passwordsignin" class="">Mot de passe</label>
              <input type="password" id="Passwordsignin" class="form-control" name="password" [(ngModel)]="password" required><br>
            <a *ngIf="!resetPassword"  class="text-left" (click)="sendResetEmail()"> Mot de passe oubliée ! </a>
            <p *ngIf="resetPassword" class="">
              Vérifiez votre email pour réinitialiser le mot de passe!</p>
            <button class="btn btn-lg btn-secondary " type="submit" (click)="signin()">Connexion</button>
          </form>
  </div>
  <div class="vl"></div>
    <div class="col-md-5" style="padding-top:40px">
        <form class="form-signin" >
              <label for="Emailsignin2" class="">Email</label>
              <input type="email" id="Emailsignin2" class="form-control" name="email1" [(ngModel)]="email1" required autofocus>
              <button class="btn btn-lg btn-secondary" type="submit" (click)="sendEmailLink()">Connexion</button>
            </form>
    </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-4">
      <div class="txt1 text-center"><span>ou se connecter via</span></div>
        <div class="row">
          <div class="col-md-4"><a class="login100-social-item bg1" (click)="loginfacebook()">
            <i class="fab fa-facebook"></i>
          </a></div>
          <div class="col-md-4"><a class="login100-social-item bg2">
            <i class="fab fa-twitter"></i>
          </a></div>
          <a class="login100-social-item bg3" (click)="logingoogle()">
            <i class="fab fa-google"></i></a>
            <div class=""><span > vous n'avez pas un compte! </span></div>
            <div class="row">
              <div class="col-5"></div>
              <a  (click)="sinscrire()" class="txt1 p-r-17" style="color: #ffffff">S'inscrire</a>
            </div>
        </div>
      </div>

      
    </div>
  </div>
    <div *ngIf="!connecter">
    <form class="form-signup" #captchaProtectedForm="ngForm">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><img class="mb-4 " src="./../../../assets/img/logo.png" alt="" width="72" height="72"></div>
          </div>
      <h1 class="h3 mb-3 font-weight-normal">Je m'inscrire</h1>
      <label for="nomsignup" class="">Nom</label>
      <input type="text" id="nomsignup" class="form-control" name="nom" [(ngModel)]="nom" required>
      <label for="Emailsignup" class="">Email</label>
      <input type="email" id="Emailsignup" class="form-control" name="email" [(ngModel)]="email" required autofocus>
      <label for="Passwordsignup" class="">Mot de passe</label>
      <input type="password" id="Passwordsignup" class="form-control" name="password" [(ngModel)]="password" required>
      <label for="Passwordsignup2" class="">Confirmer mot de passe</label>
      <input type="password" id="Passwordsignup2" class="form-control" name="password2" [(ngModel)]="password2" required>
       <br>
      <re-captcha (resolved)="resolved($event)"  [(ngModel)]="formModel.captcha" name="captcha"required siteKey="6Ldw8FUUAAAAAGGrC5Sf-sI5N6co4HT5pykzIBDJ" #captchaControl="ngModel">
      </re-captcha>

      <div [hidden]="captchaControl.valid || captchaControl.pristine" class="error">Captcha must be solved</div>
      <div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>
      <div [hidden]="captchaProtectedForm.form.valid" class="error">The form must be filled out</div>
      <div [hidden]="!captchaProtectedForm.form.valid" class="success">The form is valid</div>
      <button class="btn btn-lg btn-primary btn-block" type="submit"  (click)="singup()">s'inscrire</button>
      <button class="btn btn-lg btn-primary btn-block" type="reset"  (click)="formModel.captcha =''">Annuler</button>
    </form>
  </div>

  </div>
