
<div class="row">
  <div class="col-md-6 mb-3 text-center ">
    <div class="card">
      <div class="container-fluid">
        <div class="card-header">
        <h3> Derniers Dépenses Recurrent</h3>
      </div>
        <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover table table-striped ">
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Montant</th>
              <th scope="col">Date</th>
             <th scope="col"></th>.
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let depensesR of DepensesRlist">
              <td>{{depensesR.titredepense}}</td>
              <td>{{depensesR.montantdepense}}</td>
              <td>{{depensesR.datedepense}}</td>
            </tr>
            </tbody>
          </table>
        </div></div>
        <div class="card-footer"><a routerLink="/client/depenses/listdepR">afficher la suite</a></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3 text-center ">
    <div class="card">
      <div class="container-fluid">
        <div class="card-header">
        <h3> Derniers Dépenses </h3>
        </div>
        <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover table table-striped ">
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Date</th>
              <th scope="col">Montant</th>
              <th scope="col">Catégorie</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let Depenses of depenseslist">
              <td>{{Depenses.titredepense}}</td>
              <td>{{Depenses.datedepense}}</td>
              <td>{{Depenses.montantdepense}}</td>
              <td>{{Depenses.categoriedepense}}</td>

            </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="card-footer"> <a routerLink="/client/depenses/listdep">afficher la suite</a></div>
      </div>
    </div>
  </div>
</div>
