
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="container-fluid">
        <div class="card-header">
        <h3> Derniers Dépenses Recurrent</h3>
      </div>
        <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover table table-striped ">
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Montant</th>
              <th scope="col">Date</th>
             <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let depensesR of DepensesRlist">
              <td>{{depensesR.titredepense}}</td>
              <td>{{depensesR.montantdepense}}</td>
              <td>{{depensesR.datedepense}}</td>

              <td>
                <a ><i class="far fa-edit"></i></a>
                <a>
                  <i class="fas fa-trash-alt"></i>
                </a>
                <a><i class="fas fa-eye"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div></div>
        <div class="card-footer"><a routerLink="/client/depenses/listdepR">afficher la suite</a></div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="container-fluid">
        <div class="card-header">
        <h3> Derniers Dépenses </h3>
        </div>
        <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover table table-striped ">
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Date</th>
              <th scope="col">Montant</th>
              <th scope="col">Cathégorie</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let Depenses of depenseslist">
              <td>{{Depenses.titredepense}}</td>
              <td>{{Depenses.datedepense}}</td>
              <td>{{Depenses.montantdepense}}</td>
              <td>{{Depenses.cathegoriedepense}}</td>
              <td>
                <a ><i class="far fa-edit"></i></a>
                <a>
                  <i class="fas fa-trash-alt"></i>
                </a>
                <a><i class="fas fa-eye"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="card-footer"> <a routerLink="/client/depenses/listdep">afficher la suite</a></div>
      </div>
    </div>
  </div>
</div>
