<section class ="container-fluid" id="fonctionalites" style="background-image: url('assets/img/ll.jpeg'); padding-top : 10%;" >
  <div class="container ">
      <div class="section-heading text-center">
              <h2>Fonctionnalité</h2>
          <div class="line-shape"></div>
      </div>
      <div class="row featurette"  >
          <div class="col-md-5 pull-md-5">
              <h4 class="featurette-heading" style="color:#0056b3 ;"><span style="color: #ffffff">Cathégoriser</span> vos dépenses</h4>
              <p class="lead" style="color: #ffffff">Vos dépenses sont catégorisées automatiquement : découvrez combien vous dépensez en courses, transport, restaurants... Plus besoin de faire ses comptes</p>
          </div>
          <div class="col-md-2 pull-md-0"></div>
          <div class="col-md-5 push-md-7">
                  <img class="featurette-image img-fluid mx-auto" src="assets/img/bb5.jpeg" >
          </div>
      </div>
      <hr style="color: #ffffff" class="featurette-divider">
      <div class="row featurette" >
          <div class="col-md-7 push-md-5">
              <img class="featurette-image img-fluid mx-auto" src="assets/img/bb4.png">
          </div>
          <div class="col-md-5 pull-md-7">
              <h4 class="featurette-heading" style="color:#0056b3;"> <span style="color: #ffffff">Consulter </span>vos transactions</h4>
              <p class="lead" style="color: #ffffff">Les transactions vous aide à savoir où vous en êtes de vos dépenses et prévoit combien il vous restera à la fin du mois</p>
          </div>
      </div>
      <hr style="color: #ffffff" class="featurette-divider">
      <div class="row featurette" >
          <div class="col-md-5 pull-md-7">
              <h2 class="featurette-heading" style="color:#0056b3;"><span style="color: #ffffff">Recevoir </span> des conseils.</h2>
              <p class="lead" style="color: #ffffff"> Nous vous donne des conseils pour mieux gérer votre argent. C'est le premier - et le seul - coach financier indépendant en Tunisie.</p>
          </div>
          <div class="col-md-7 push-md-5">
              <img class="featurette-image img-fluid mx-auto" src="assets/img/bb6.png">
          </div>
      </div>
  </div>
</section>
