/* .wrapper {
  position: relative;
  top: 0;
  height: 100vh; }
.wrapper {
  min-height: 100vh;
  position: relative; }
.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
  overflow: auto; }*/
  .icon{
    width: 2.4em;
  }
  .toggle-btn span{
    display : block ;
    width: 30px;
    height: 3px;
    background: rgb(7, 7, 7);
    margin: 3px 0px;
   
  }
  .toggle-btn{
    position: absolute;
    top: 20px;
    left: 0px;
    padding-top: 60px;
    margin-left: 200px
  }
  .sidebar{
    width: 380px;
    height: 100%;
    position: fixed;
    padding-top: 70px;
    margin-left: -30px;
  }
  .mainc{
    margin-left: 380px;
    padding-top: 100px;
  }