<div class="be-aside-header">
  <div class="row">
    <div class="col-lg-6">
      <div class="be-aside-header-title">Projet </div>
    </div>
    <div class="col-lg-6">
      <div class="be-aside-header-search">
        <div class="input-group input-search input-group-sm">
          <input type="text" (keyup)="onSearch($event)" placeholder="Search" class="form-control">
          <span class="input-group-btn"><i class="fas fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row listes-projets">
  <br>
  <div *ngFor="let Projets of projetlist" class="col-md-6">
    <div class="projet projet-soldout">
      <div class="projet-desc">
        <h4 class="projet-title">{{Projets.titreprojet}}</h4>
        <span class="projet-details">
          {{Projets.priorteprojet}}
          {{Projets.descriptionprojet}}
          <br>{{Projets.dateprojet}}
        </span>

      </div>
      <div class="projet-price">
        <div class="projet-amount">
          <span class="currency">$</span>
          <span class="price">{{Projets.montantprojet}}</span>
          <span class="frecuency"></span>
          <button (click)="openWindowCustomClass(contentDetailp,Projets)" class="btn btn-warning">détailler</button>
        </div>
      </div>
      <div class="be-soldout-title">
        <div (click)="openWindowCustomClass(contentEditp,Projets)" > <i  class="far fa-1x fa-edit"></i></div>
      <div (click)="onDelete(Projets.$key)" > <i class="far fa-trash-alt"></i> </div>
        <div *ngIf="Projets.faite" (click)="doneProjet(Projets,Projets.$key)"><i class="fas fa-thumbs-up"></i></div>
       <div *ngIf="!(Projets.faite)"(click)="doneProjet(Projets,Projets.$key)"> <i class="far fa-thumbs-up"></i> </div>
      </div>
    </div>
  </div>
</div>
<ng-template #contentEditp let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifier</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #projetForm="ngForm" (ngSubmit)="onUpdate(projetForm)">
      <input type="hidden" name="$idprojet" #idprojet ="ngModel" [(ngModel)]="projetservice.selectedprojet.$key">
      <input type="hidden" name="iduser" #iduser  ngModel [(ngModel)]="projetservice.selectedprojet.idauth">
      <div class="container-fluid">
        <div class=" content row">
            <div class="container-fluid">
              <div class="form-group">
                <label class="col-form-label">Titre:</label>
                <input type="text" class="form-control" name="titreprojet" #titreprojet="ngModel" [(ngModel)]="projetservice.selectedprojet.titreprojet" required minlength="4">
                <div *ngIf ="titreprojet.errors && (titreprojet.dirty|| titreprojet.touched)" class ="alert alert-danger"  >
                  <div [hidden] = "!titreprojet.errors.required">
                    <strong>Error:</strong>Ce champs est obligatoire
                  </div>
                  <div [hidden] = "!titreprojet.errors.minlength">
                    <strong>Error:</strong>Ce champs est trés cours
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Montant :</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="0000.0000" name="montantprojet" #montantprojet="ngModel" [(ngModel)]="projetservice.selectedprojet.montantprojet" pattern= "\d*"required>
                  <div class="input-group-prepend">
                    <div class="input-group-text">TND</div>
                  </div>
                  <div *ngIf ="montantprojet.errors && (montantprojet.dirty|| montantprojet.touched)" class ="alert alert-danger"  >
                    <div [hidden] = "!montantprojet.errors.required">
                      <strong>Error:</strong>Ce champs est obligatoire
                    </div>
                    <div [hidden] = "!montantprojet.errors.pattern">
                      <strong>Error:</strong>le montant doit étre nombre
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Date :</label>
                <input type="date" class="form-control" name="dateprojet" #dateprojet="ngModel" [(ngModel)]="projetservice.selectedprojet.dateprojet "  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" required >
                <div *ngIf ="dateprojet.errors && (dateprojet.dirty|| dateprojet.touched)" class ="alert alert-danger"  >
                  <div [hidden] = "!dateprojet.errors.required">
                    <strong>Error:</strong>Ce champs est obligatoire
                  </div>
                  <div [hidden] = "!dateprojet.errors.pattern">
                    <strong>Error:</strong>Veuillez inserrez une date correcte
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Priorité </label>

                <select class="custom-select form-group mr-sm-2" name="prioriteprojet" #prioriteprojet="ngModel" [(ngModel)]="projetservice.selectedprojet.prioriteprojet" required>
                  <option *ngFor = "let priorite of priorites" >{{priorite}}</option>
                </select>
                <div *ngIf ="prioriteprojet.errors && (prioriteprojet.dirty|| prioriteprojet.touched)" class ="alert alert-danger"  >
                  <div [hidden] = "!prioriteprojet.errors.required">
                    <strong>Error:</strong>Ce champs est obligatoire
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Description: </label>
                <input class="form-control" name="descriptionprojet" #descriptionprojet="ngModel" [(ngModel)]="projetservice.selectedprojet.descriptionprojet"/>
              </div>
              <div class="row">
                <div class="col-3 content-center">
                  <button type="submit" class="btn btn-secondary bouton">Modifier</button>
                </div>
                <div class="col-1"></div>
                <div class="col-2 content-center">
                  <button type="reset" class="btn btn-secondary  bouton">annuler
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</ng-template>
<ng-template #contentDetailp let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="content-center detail">
      <li><label class="col-form-label">titre: {{projetservice.selectedprojet.titreprojet}}</label></li>
      <li><label class="col-form-label">Montant : {{projetservice.selectedprojet.montantprojet}} DT </label></li>
      <li><label class="col-form-label">Date : {{projetservice.selectedprojet.dateprojet}}</label></li>
      <li><label class="col-form-label">Description: {{projetservice.selectedprojet.descriptionprojet}} </label></li>
      <li *ngIf="projetservice.selectedprojet.faite"> <label class="col-form-label"><i class="far fa-smile"></i> Projet Realisè </label></li>
      <li *ngIf="!(projetservice.selectedprojet.faite)"> <label class="col-form-label"><i class="far fa-frown"></i> Projet non Realisè </label></li>
    </ul>
  </div>
</ng-template>
